@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
  font-family: "Antonio", sans-serif;
}
body {
    background: url(./assets/background.png);
  }
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
.loader {
  animation: spin 10s linear infinite;
  margin-bottom: 50px;
}
#gap {
  gap: 50px;
}
#gap1 {
  gap: 20px;
}
#gap2 {
  gap: 20px;
}
